*.rar
*.h5
*.nc
ISIMIP/scratch.py
ISIMIP/input
ISIMIP/observations
*.iml
*.xml
ISIMIP/.idea/workspace.xml
*.csv
output
ISIMIP/output/
ISIMIP/test
ISIMIP/test3
ISIMIP/analyse.py
ISIMIP/input/NO/Lan/Lan_init
ISIMIP/report.txt
ISIMIP/test.py
ISIMIP/output/

